@import "../../global.scss";

.album {
  @include mobile {
    overflow: scroll;
  }
  .AlbumTitle {
    text-align: center;
    margin-top: 10px;
    color: #1dc3ec;
    font-size: 20px;
  }
  .albumTable {
    height: 80vh;
    font-size: 17px;
    color: #1dc3ec;
    letter-spacing: 1.5px;
  }
  .albumPagination {
    display: flex;
    align-items: center;
    justify-content: center;
    .albumpage {
      color: #1dc3ec;
      font-size: 20px;
      margin: 10px;
    }
    .albumBtn {
      padding: 5px 15px;
      background-color: transparent;
      border: 1px solid #1dc3ec;
      border-radius: 5px;
      color: #1dc3ec;
      font-size: 18px;
    }
  }
}
